################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/Compiler_2019_term/v16/ipch/AutoPCH/68a47194a2edf1c4/SYMTABLE.ipch
